fastapi
uvicorn
python-multipart
openai
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-cohere
cohere
rank_bm25
chromadb
ragas
pypdf
docx2txt
unstructured
python-dotenv
datasets
